<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.onlineSubmit.dao.UserDao">
	<select id="findByUserName" parameterType="String" resultType="User">
  		select * from user where username = #{username}
  	</select>
  	<select id="findByAuthorName" parameterType="String" resultType="User">
  		select * from user where author_name = #{author_name}
  	</select>
 	<update id="add" parameterType="User">
 		insert into user(id,username,password,author_name,sex,phone_number,address) values(null,#{username},#{password},#{author_name},#{sex},#{phone_number},#{address})
 	</update>
</mapper>